.list-group-item {
  line-height: 2.5;
}

.hero-full-screen {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("https://images.pexels.com/photos/378273/pexels-photo-378273.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb") center center no-repeat;
  background-size: cover;
}

.hero-full-screen .middle-content-section {
  text-align: center;
  color: #fefefe;
}

.hero-full-screen .top-content-section {
  width: 100%;
}

.hero-full-screen .bottom-content-section {
  padding: 1rem;
}

.hero-full-screen .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen .top-bar {
  background: transparent;
}

.hero-full-screen .top-bar .menu {
  background: transparent;
}

.hero-full-screen .top-bar .menu-text {
  color: #fefefe;
}

.hero-full-screen .top-bar .menu li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-full-screen .top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}


.button-hover-reveal-wrapper {
  overflow: hidden;
  border: 2px solid #1779ba;
  border-radius: 5000px;
  text-align: center;
  width: 100%;
  background: #fefefe;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-hover-reveal-wrapper:hover {
  border: none;
  background-color: #1779ba;
  transition: background-color 0.5s ease;
}

.button-hover-reveal-wrapper:hover .button-hover-reveal {
  display: block;
  font-size: 16px;
  padding: 22px;
}

.button-hover-reveal-wrapper:hover .button-hover-reveal:hover {
  transition: background-color 0.5s ease;
  background-color: rgba(0, 0, 0, 0.1);
}

.button-hover-reveal-wrapper:hover label {
  display: none;
}

.button-hover-reveal-wrapper .button-hover-reveal {
  display: none;
  color: #fefefe;
  width: 50%;
  z-index: 1;
}

.button-hover-reveal-wrapper label {
  padding: 16px;
  color: #1779ba;
  font-size: 16px;
  font-weight: bold;
}

